#image-container {
    height: 100%;
    background-color: whitesmoke;
    text-align: center;
    vertical-align: middle;
    flex: 1;
    overflow: scroll;
    position: relative;
}

img {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#playground {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    height: 100vh;
    box-sizing: border-box;
}

#img-manipulator {
    display: flex;
    flex: 1;
    flex-direction: row;
}

#toolbar {
    width: 300px;
    background: url("../images/rainbow-bg.jpg") no-repeat center center fixed;
    text-align: center
}   

label {
    color: white;
    font-size: small;
}

form {
    color: white;
    text-align: center;
}

input {
    width: 50px;
    font-size: small;
}

#qsholder {
    height: 60px;
    width: 100%;
    background: black;
    text-align: center;
    margin: 0 auto;
    bottom: 20px;
}

pre {
    display: inline;
    background-color: black;
    color: white;
    font-size: 30px;
}

#image-list {
    margin-top: 50px;
    width: 200px;
  }

#methods-list {
    width: 200px;
  }

#width {
    width: 250px;
}

#widthSlider {
    width: 250px
}

#height {
    width: 250px;
}

#heightSlider {
    width: 250px
}

#quality {
    width: 250px;
}

#qualitySlider {
    width: 250px
}

#bgtype-list {
    width: 200px;
  }

#bgcolor-list {
    width: 200px;
}

#bgalpha {
    width: 250px;
}

#bgalphaSlider {
    width: 250px
}

#downloadFormat-list {
    width: 200px;
}