img {
    position: absolute;
    margin: auto;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0; 
}

ul {
  margin-top: 50px;
  width: 200px
}

li {
    font-family: 'Open Sans', Arial;
    font-size: 20px;
    list-style-type: square;
}

#width {
    position: absolute;
    margin: auto;
    width: 160px;
    left: 1170px;
    right: 0;
    top: 40px;
    bottom: 0;
    size: 150px;
}

#height {
    position: absolute;
    margin: auto;
    width: 160px;
    left: 1170px;
    right: 0;
    top: 65px;
    bottom: 0;
    size: 150px;
}

label {
    color: white;
    font-size: small;
}

input {
    width: 50px;
    font-size: small;
}