img {
    position: absolute;
    margin: auto;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0; 
}

#image-list {
  margin-top: 50px;
  position: absolute;
  width: 200px;
  right: 1700px
}

#methods-list {
  margin-top: 125px;
  position: absolute;
  width: 200px;
  right: 1700px
}

#bgtype-list {
    margin-top: 180px;
    position: absolute;
    width: 200px;
    right: 1700px
  }

#width {
    position: absolute;
    margin: auto;
    width: 110px;
    left: 0;
    right: 1700px;
    top: 70px;
    bottom: 0;
    size: 150px;
}

#height {
    position: absolute;
    margin: auto;
    width: 110px;
    left: 0;
    right: 1700px;
    top: 95px;
    bottom: 0;
    size: 150px;
}

#bgcolor {
    position: absolute;
    margin: auto;
    width: 110px;
    left: 0;
    right: 1700px;
    top: 148px;
    bottom: 0;
    size: 150px;
}

#quality {
    position: absolute;
    margin: auto;
    width: 110px;
    left: 0;
    right: 1700px;
    top: 203px;
    bottom: 0;
    size: 150px;
}

#bgalpha {
    position: absolute;
    margin: auto;
    width: 110px;
    left: 0;
    right: 1700px;
    top: 233px;
    bottom: 0;
    size: 150px;
}

label {
    color: white;
    font-size: small;
}

input {
    width: 50px;
    font-size: small;
}

pre {
    background-color: black;
    color: white;
    font-size: 30px;
    widows: 200px;
    margin: 0 auto;
    position: absolute;
    bottom: 10px;
    right: 200px;
}