img {
    position: absolute;
    margin: auto;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0; 
}

label {
    color: white;
    font-size: small;
}

form {
    color: white;
    text-align: center
}

input {
    width: 50px;
    font-size: small;
}

#toolbar {
    position: absolute;
    height: 100%;
    width: 300px;
    float: left;
    background: url("../images/rainbow-bg.jpg") no-repeat center center fixed;
    text-align: center
}

#qsholder {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
}

pre {
    display: inline;
    background-color: black;
    color: white;
    font-size: 30px;
}

#image-list {
    margin-top: 50px;
    width: 200px;
  }

#methods-list {
    width: 200px;
  }

#width {
    width: 250px;
}

#widthSlider {
    width: 250px
}

#height {
    width: 250px;
}

#heightSlider {
    width: 250px
}

#quality {
    width: 250px;
}

#qualitySlider {
    width: 250px
}

#bgtype-list {
    width: 200px;
  }

#bgcolor-list {
    width: 200px;
}

#bgalpha {
    width: 250px;
}

#bgalphaSlider {
    width: 250px
}

#downloadFormat-list {
    width: 200px;
}