img {
    position: absolute;
    margin: auto;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0; 
}

select {
  margin-top: 50px;
  position: absolute;
  width: 200px;
  right: 1700px
}

li {
    font-family: 'Open Sans', Arial;
    font-size: 20px;
    list-style-type: square;
}

#width {
    position: absolute;
    margin: auto;
    width: 110px;
    left: 0;
    right: 1700px;
    top: 70px;
    bottom: 0;
    size: 150px;
}

#height {
    position: absolute;
    margin: auto;
    width: 110px;
    left: 0;
    right: 1700px;
    top: 95px;
    bottom: 0;
    size: 150px;
}

label {
    color: white;
    font-size: small;
}

input {
    width: 50px;
    font-size: small;
}

pre {
    color: white;
    font-size: 40px;
    widows: 200px;
    margin: 0 auto;
    position: absolute;
    bottom: 10px;
    right: 650px
}