img {
    position: absolute;
    margin: auto;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0; 
}

label {
    color: white;
    font-size: small;
}

form {
    color: white;
}

input {
    width: 50px;
    font-size: small;
}

#qsholder {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
}

pre {
    display: inline;
    background-color: black;
    color: white;
    font-size: 30px;
}

#image-list {
    margin-top: 50px;
    position: absolute;
    width: 200px;
    right: 1700px
  }

#methods-list {
    margin-top: 75px;
    position: absolute;
    width: 200px;
    right: 1700px
  }

#width {
    position: absolute;
    margin: auto;
    width: 250px;
    right: 1660px;
    top: 100px;
    size: 150px;
}

#widthSlider {
    width: 250px
}

#height {
    position: absolute;
    margin: auto;
    width: 250px;
    right: 1660px;
    top: 150px;
    size: 150px;
}

#heightSlider {
    width: 250px
}

#quality {
    position: absolute;
    margin: auto;
    width: 250px;
    right: 1660px;
    top: 200px;
    size: 150px;
}

#qualitySlider {
    width: 250px
}

#bgtype-list {
    margin-top: 250px;
    position: absolute;
    width: 200px;
    right: 1700px
  }

#bgcolor-list {
    margin-top: 275px;
    position: absolute;
    width: 200px;
    right: 1700px
}

#bgalpha {
    position: absolute;
    margin: auto;
    width: 250px;
    right: 1660px;
    top: 300px;
    bottom: 0;
    size: 150px;
}

#bgalphaSlider {
    width: 250px
}

#downloadFormat-list {
    margin-top: 360px;
    position: absolute;
    width: 200px;
    right: 1700px
}