@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600');

body {
    margin: 0;
    font-family: 'Open Sans', Arial;
}

nav {
    background-color: black;
    padding: 5px;
    height: 30px;
    position: fixed;
    z-index: 10000;
    width: 100%;
}

#navlogo {
    float: left;
    background: url(../images/logo-white.png) 50%/100% no-repeat;
    width: 165px;
    height: 30px;
    margin-right: 20px;
}